<h1 class="page-heading">Happy Shopping</h1>
<main class="main">
  <section class="cards">
    <h2 class="cards__heading">Deals of the Day</h2>
    {{#each products}}
    {{> card}}
    {{/each}}
  </section>
</main>